* {
  font-family: 'Roboto', sans-serif;
}

.welcome {
  color: #452B96;
}

.my-btn {
  background-color: #452B96;
  padding: 7px 20px;
  margin: 2rem;
  color: white;
  border: none
}

.submit-btn {
  background-color: #452B96;
  padding: 7px 20px;
  margin: 20px 0px;
  color: white;
  border: none
}

.none {
  display: block;
}


@media only screen and (max-width: 600px) {

  .none {
    display: none;
  }
}